.newcomment-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.picture-container{
  margin-right: 16px;
}

.profile-picture {
  height: 40px;
  width: 40px;
}

.addcomment-title {
  color: #000000;
  font-weight: Bold;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 14px;
}

.addcomment-area {
  border: 1px solid #979797;
  height: 74px;
  margin-bottom: 16px;
  resize: none;
  width: 667px;
}

.sendcomment-button {
  background: #a5cd39;
  height: 38px;
  width: 192px;
}

.sendcomment-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  padding: 11px 70px 7px 74px;
}
