* {
  font-family: 'Roboto', sans-serif;
}

.body-container {
  padding: 200px 150px;
}

.main-title {
  font-size: $font-big;
  position: relative;
  margin-bottom: 100px;

  &::before {
    background-repeat: no-repeat;
    background-image: url('resources/triangle.svg');
    content: '';
    height: 100px;
    left: -55px;
    position: absolute;
    top: -50px;
    width: 100px;
    z-index: -1;
  }
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 120px;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  margin-bottom: 50px;
  margin-right: 30px;
  position: relative;

  &::before {
    bottom: 10px;
    border: 1px solid $green;
    border-radius: 5px;
    content: '';
    left: -10px;
    right: 10px;
    position: absolute;
    top: -10px;
    z-index: -1;
  }
}

.tech-logo {
   height: 100px;
   margin-bottom: 5px;
   width: 100px;
}

.tech-name {
  font-size: $font-medium;
  margin-bottom: 5px;
}

.tech-release {
  font-weight: bold;
  font-size: $font-small;
  margin-bottom: 5px;
}

.tech-description {
  font-size: $font-small;
  text-align: center;
}

.nav-bar {
  background-color: $white;
  box-shadow: 0px 20px 15px -15px $grey;
  display: flex;
  flex-wrap: nowrap;
  height: 90px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-title {
  align-self: center;
  font-size: $font-big;
  padding-right: 25px;
}

.nav-logo {
  align-self: center;
  padding-left: 25px;
  width: 200px;
}
