* {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-size: $font-big;
  position: relative;
  margin: 100px 10px 100px 100px;

  &::before {
    background-repeat: no-repeat;
    background-image: url('resources/triangle.svg');
    content: '';
    height: 100px;
    left: -55px;
    position: absolute;
    top: -50px;
    width: 100px;
    z-index: -1;
  }
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 80px;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  margin: 10px 10px 10px 50px;
  position: relative;

  &::before {
    bottom: 10px;
    border: 1px solid $green;
    border-radius: 5px;
    content: '';
    left: -10px;
    right: 10px;
    position: absolute;
    top: -10px;
    z-index: -1;
  }
}

.tech-logo {
   height: 100px;
   margin: 5px;
   width: 100px;
}

.tech-name {
  font-size: $font-medium;
}

.tech-release {
  font-weight: bold;
  font-size: $font-small;
  margin: 5px;
}

.tech-description {
  font-size: $font-small;
  text-align: center;
  margin: 5px;
}
