* {
  font-family: 'Roboto', sans-serif;
}

.body-container {
  padding: 200px 150px;
}

.main-title {
  font-size: $font-big;
  grid-area: header;
  position: relative;
  margin-bottom: 100px;

  &::before {
    background-repeat: no-repeat;
    background-image: url('resources/triangle.svg');
    content: '';
    height: 100px;
    left: -55px;
    position: absolute;
    top: -50px;
    width: 100px;
    z-index: -1;
  }
}

.tech {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  margin-bottom: 50px;
  margin-right: 30px;
  position: relative;
  width: 120px;
}

.tech-logo {
   height: 100px;
   margin-bottom: 5px;
   width: 100px;
}

.tech-name {
  font-size: $font-medium;
  margin-bottom: 5px;
}

.tech-release {
  font-weight: bold;
  font-size: $font-small;
  margin-bottom: 5px;
}

.tech-description {
  font-size: $font-small;
  text-align: center;
}

.nav-bar {
  background-color: $white;
  box-shadow: 0px 20px 15px -15px $grey;
  display: flex;
  flex-wrap: nowrap;
  height: 90px;
  justify-content: space-between;
  left: 0;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-title {
  align-self: center;
  font-size: $font-big;
}

.nav-logo {
  align-self: center;
  width: 200px;
}

.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.footer-title {
  color: $white;
  font-size: $font-big;
  margin-bottom: 25px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.footer-input {
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
}

.footer-submit {
  align-self: center;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  font-size: $font-medium;
  padding: 10px;
  text-transform: uppercase;
}

.front-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas:
    'header header header'
    'react angular vue'
    'react elm polymer'
}

.tech.react  {
  border-right: 1px solid $green;
  grid-area: react;
  justify-content: center;
}

.tech.angular  {
  grid-area: angular;
}

.tech.vue  {
  grid-area: vue;
}

.tech.elm  {
  grid-area: elm;
}

.tech.polymer  {
  grid-area: polymer;
}

.tech.polymer  {
  grid-area: polymer;
}

.back-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas:
    'header header header'
    'ruby node asp'
    'ruby django footer'
}

.tech.ruby  {
  border-right: 1px solid $green;
  grid-area: ruby;
  justify-content: center;
}

.tech.node  {
  grid-area: node;
}

.tech.django  {
  grid-area: django;
}
