.filterContainer {
  display: flex;
  padding-bottom: 65px;
  padding-top: 143px;
}

.filterItem {
  margin-right: 28px;
}

.booksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.homeContainer {
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
}

.dashboardContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
