@import '../../../../../constants/colors.scss';

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.input {
  background: $light-grey;
  border: 1px solid $light-grey;
  width: 100%;
}

.inputText {
  border-radius: 5px;
  color: $hard-grey;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  padding: 9px 10px 10px 12px;
}

.dataContainer {
  background: $light-grey;
  border-radius: 5px;
  display: flex;
  height: 38px;
  justify-content: center;
  padding-left: 1px;
  margin-left: 2px;
  margin-bottom: 10px;
  width: 400px;
}

.signupButton {
  background: $light-blue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.signupText {
  color: $white;
  font-weight: normal;
  font-size: 14px;
  margin: 5px;
  text-align: center;
  width: 100px;
}
