@import '../../../../../constants/colors.scss';

.profileContainer {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 50px
}

.profileIcon {
  height: 108px;
  width: 108px;
}

.profileSummary {
  display: flex;
  border-bottom: 1px solid $light-blue;
  justify-content: center;
  padding-top: 181px;
  padding-bottom: 56px;
}

.infoContainer {
  margin-left: 58px;
}

.nameTitle{
  color: $special-green;
  font-weight: bold;
  font-size:20px;
  margin: 0px;
  line-height:19px;
}

.emailTitle {
  color: $dark-grey;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 0px 0px 22px 0px;
  line-height: 19px;
}

.summaryContainer{
  display: flex;
  align-items: center;
}

.summaryText {
  align-self: center;
  color: $dark-grey;
  font-weight: bold;
  font-size:14px;
  margin: 0px;
  line-height:19px;
}

.readedContainer {
  display: flex;
  border-right: 1px solid $special-green;
  height: 30px;
  padding-right: 15px;
  margin-right: 14px;
}

.commentsContainer {
  height: 19px;
}
