@import '../../../constants/colors.scss';

.navbarContainer {
  background: $white;
  box-shadow:0px 2px 7px 3px $superlight-grey;
  display: flex;
  justify-content: space-between;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.wbookContainer {
  display: flex;
  height: 45px;
  padding-left: 34px;
  padding-top: 23px;
  width: 193px;
}

.navbarIcon {
  height: 45px;
  width: 250px;

}

.iconsContainer {
  display: flex;
  padding-right: 49px;
  padding-top: 33px;
  height: 100%;
}

.buttonIcon {
  height: 30px;
  margin-left: 30px;
  margin-bottom: 4px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}
