@import '../../../../../constants/colors.scss';

.dropdownContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.profileDropdown {
  position: absolute;
  right: 0;
}

.buttonIcon {
  background: transparent;
  overflow:auto;
  border: none;
  margin-left: 30px;
  margin-bottom: 4px;
  z-index: 1;
}

.profileIcon {
  height: 30px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}

.profileButton {
  height: 31px;
  width:160px;

  &:hover {
    background: $superlight-blue;
  }
}

.profileLink {
  text-decoration: none;
}

.buttonText {
  color: $black;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  margin-left: 12px;
}
