.comment-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 19px;
}

.comment-title {
  color: #000000;
  font-weight: Bold;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.comment-date {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.comment-description {
  color: #999999;
  font-weight: normal;
  font-size: 14px;
  height: 57px;
  line-height: 19px;
  width: 679px;
}
