@import '../../../../../constants/colors.scss';

.dropdownContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
    background: $white;
    box-shadow:0px 2px 7px 3px $superlight-grey;
    border:1px solid $light-grey;
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-top: 46px;
    margin-right: 172px;
    position: absolute;
    right: 0;
    width: 325;
}

.notificationIcon {
  height: 30px;
  margin-left: 30px;
  margin-bottom: 4px;
  width: 30px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.arrowContainer {
  background: transparent;
  align-self: flex-end;
  position: absolute;
  top: -10px;
}

.dropdownArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $white;
  filter: drop-shadow(0px -2px 0px $light-grey);
  margin-right: 2px;
}

.notificationButton {
  border-bottom: 1px solid $grey;
  display: flex;
  height: 115px;
  padding-left: 14px;
  padding-top: 23px;
  width: 321px;

  &:hover {
    background: $superlight-blue;
  }
}

.bookImage {
  background: $grey;
  height: 80px;
  margin-right: 12px;
  width: 56px;
}

.bookDescription {
  display: flex;
  flex-direction: column;
}

.bookTitle {
  color: $black;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bookAuthor {
  color: $dark-grey;
  font-weight: normal;
  font-size:12px;
  letter-spacing:0px;
  line-height:19px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.descriptionTitle {
  color: $black;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 3px;
  margin-top: 0px;
}

.bookWarning {
  color: $red;
  font-weight: normal;
  font-size:12px;
  line-height:19px;
  margin-top: 0px;
}

.defaultSvg {
  height: 32px;
  padding: 24px 12px;
  width: 32px;
}

.notifContainer {
  align-items: center;
  background: $red;
  border-radius: 50%;
  display: flex;
  height: 11px;
  justify-content: center;
  position: absolute;
  right: 175px;
  top: 30px;
  width: 11px;
  margin-top: 5px;
  margin-left: 9px;
}

.notifText {
  color: $white;
  font-size: 8px;
  font-weight: Bold;
  letter-spacing: 0px;
  margin: 0;
}
