$grey: #D8D8D8;
$black: #000000;
$dark-grey: #4A4A4A;
$light-grey: #F4F4F4;
$hard-grey: #9B9B9B;
$superhard-grey: #979797;
$special-green: #A5CD39;
$light-blue: #00ADEE;
$white: #FFFFFF;
$red: #FF0000;
