@import '../../../../../constants/colors.scss';

.buttonRentStyle {
  background: $light-blue;
  margin-top: 44px;
  height: 38px;
  width: 192px;
}

.buttonWishStyle {
  background: $special-green;
  height: 38px;
  width: 192px;
}

.buttonDisabledStyle {
  background: $disabled-grey;
  height: 38px;
  width: 192px;
}

.returnTitle {
  color: $red;
  font-weight:  bold;
  font-style: italic;
  font-size:14px;
  letter-spacing:0px;
  line-height:19px;
}
