@import '../../../../../constants/colors.scss';

.buttonRentStyle {
  background: $light-blue;
  height: 38px;
  width: 192px;
}

.buttonWishStyle {
  background: $special-green;
  height: 38px;
  width: 192px;
}
