@import '../../../constants/colors.scss';

.errorContainer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  margin: 100px;
}

.errorImage {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.errorMessage {
  font-weight: bold;
}

.bookDetail {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 50px;
}

.backLink {
  color: $dark-grey;
  text-decoration: none;
  font-weight: normal;
  font-size:12px;
  letter-spacing:0px;
  line-height:19px;
  left: 33px;
  position: absolute;
  top: 114px;
}

.detailContainer {
  display: flex;
  border-bottom: 1px solid $light-blue;
  flex-direction: row;
  padding-top: 181px;
  padding-bottom: 36px;
}

.detailImage {
  background: $grey;
  margin-right: 21px;
  height: 282px;
  width: 191px;
}

.detailSvg {
  height: 105px;
  padding: 82px 39px 79px 41px;
  width: 105px;
}

.detailRent {
  background: $light-blue;
  height: 38px;
  margin-top: 27px;
  width: 192px;
}

.rentTitle {
  color: $white;
  font-weight: Bold;
  font-size: 20px;
  height: 24px;
  padding: 7px 58px 7px 64px;
  width: 70px;
}

.commentsTitle {
  color: $special-green;
  margin-top: 31px;
  font-weight: Bold;
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 16px;
}
