@import '../../../../../constants/colors.scss';

.suggestionContainer {
  border-bottom: 1px solid $light-blue;
  display: flex;
  flex-direction: column;
}

.suggestionTitle {
  color: $special-green;
  margin-top: 31px;
  font-weight: Bold;
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 16px;
}

.suggestionImage {
  background: $grey;
  height: 124px;
  margin-right: 54px;
  width: 87px;
}

.suggestionRefs {
  display: flex;
  flex-direction: row;
  padding-left: 39px;
  padding-bottom: 31px;
}

.suggestionSvg {
  height: 51px;
  padding: 40px 20px 40px 18px;
  width: 51px;
}
