@import '../../../constants/colors.scss';

.profileContainer {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 50px
}

.readContainer{
  padding: 0px 50px;
}

.readedTitle {
  color: $special-green;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
}
