@import '../../../constants/colors.scss';

.profileContainer {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 50px
}

.containerSeparator {
  border-bottom: 1px solid $light-blue;
}
