@import '../../../constants/colors.scss';

.profileContainer {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 50px
}

.readContainer{
  height: 316px;
  padding-top: 35px;
}

.sectionTitle {
  color: $special-green;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 24px 0px;
  line-height: 19px;
}

.booksContainer {
  display: flex;
  padding-left: 37px;
}

.wishContainer{
  border-bottom: 1px solid $light-blue;
  padding-top: 61px;
}
