.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 83px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 23px;
  width: 100%;
}
.wbookContainer {
  display: flex;
  height: 45px;
  padding-left: 34px;
  width: 193px;
}

.navbarIcon {
  height: 45px;
  width: 250px;
}

.iconsContainer {
  display: flex;
  padding-right: 49px;
  height: 100%;
}

.buttonIcon {
  height: 30px;
  margin-left: 30px;
  width: 30px;
}
